streamlit
langchain>=1.0.0
langchain-community
langchain-openai
langchain-huggingface
langchain-chroma
langchain-classic
beautifulsoup4
nest-asyncio
python-dotenv
chromadb
sentence-transformers
rank_bm25